/* Footer */
footer {
    flex-shrink: 0;
    /* Ngăn footer co lại */
    text-align: center;
    padding: 2rem;
    background-color: var(--text-color);
    color: var(--white);
    margin-top: auto;
    /* Đẩy footer xuống dưới khi content không đủ cao */
}